ADMIN_LOGIN="admin14"
ADMIN_PASSWORD="qwerty_is_a_terrible_password"
JWT_SECRET_KEY_ENV="change-me-to-a-long-random-secret"

POSTGRES_HOST_ENV="localhost"
POSTGRES_PORT_ENV="5432"
POSTGRES_USER_ENV="postgres"
POSTGRES_PASSWORD_ENV="postgres"
POSTGRES_DB_NAME_ENV="knowledge_api"

RABBITMQ_HOST_ENV="localhost"
RABBITMQ_PORT_ENV="5672"
RABBITMQ_USER_ENV="guest"
RABBITMQ_PASSWORD_ENV="guest"
RABBITMQ_VHOST_ENV="/"

REDIS_HOST_ENV="localhost"
REDIS_PORT_ENV="6379"
REDIS_PASSWORD_ENV="redis"
REDIS_DB_ENV="0"